@tailwind base;
@tailwind components;
@tailwind utilities;

.ru {
    text-decoration-color: #a8c23e;
}

.iu {
    text-decoration-color: #ff7676;
}

.lu {
    text-decoration-color: #0a66c2;
}

.tu {
    text-decoration-color: #1da1f2;
}

html, body {
    background-color: #00011a;
}